body {
    background: #222;
}

#container {
    position: relative;
    width: 100px;
    margin: 200px auto;
}

.burger {
    cursor: pointer;
}

.burger span {
    display: block;
    width: 100px;
    height: 14px;
    background: #eeeeee;
    position: relative;
    margin-bottom: 10px;
    top: 0px;
    transition: all ease-in-out 0.4s;
}

#container.open .burger span:nth-child(2),
#container.open .burger span:nth-child(3) {
    width: 0;
    opacity: 0;
}

#container.open .burger span:nth-child(1) {
    transform: rotate(-45deg);
    top: 36px;
}

#container.open .burger span:nth-child(4) {
    transform: rotate(45deg);
    top: -36px;
}